/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    background: #e8e8e8;
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}